<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      background-color: lightgrey;
    }
  </style>
  <title>Error Page</title>
</head>

<body>
  <h1>Somting went wrong</h1>
  <p><%= e %></p>
  <button onclick="goBack()">Go back</button>
  <script>
    function goBack() {
      history.go(-1);
    }
  </script>
</body>

</html>