<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <style>
    body {
      background-color: lightgrey;
    }

    a {
      text-decoration: none;
      color: black;
    }
  </style>
</head>

<body>
  <h1>Total users: <%= cnt %></h1>
  <button><a href="http://localhost:8080/user/add">Join us today..!</a></button>
  <button><a href="http://localhost:8080/user">All Users</a></button>
</body>

</html>