.container {
    display: flex;
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
    justify-content: center;
}

h1 {
    text-align: center;
}

.loader {

    border-top: 16px solid #0057e7;
    border-bottom: 16px solid white;
    border-right: 16px solid white;
    border-left: 16px solid white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 1s linear infinite;
}

@keyframes spin {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}