<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <h1>EJS Template</h1>
  <h2>
    Dice Value <%= data %>
  </h2>
  <% if (data==6) { %>
  <h2>Nice roll dice again</h2>
  <% } %>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis tempore eaque quidem ullam unde
    voluptate
    harum molestias consequuntur est id maxime neque at dolor itaque non corporis, sint maiores asperiores?
  </p>
  <button>Click Me</button>
</body>

</html>